

.ip_main_title{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-table{
	/*word-spacing: 35px;*/
	padding-left: 10px;
	font-size: 12px;
}


